# Environments
env/
venv/
.env
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/
.DS_Store
*.swp

# Project Specific
data/watermark.json
